.MyntraSpirit {
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    width: 96px;
    height: 105px;
    background-position: -1163px 0;
    margin: 43px 0 50px;
    display: inline-block;
}